<div class="wrapper-md">
    <form name="form" class="form-validation">
        <div class="form-group col-md-6">
            <label class="control-label">新增选项</label>
            <div>
                <input required class="form-control input-sm" ng-model="metadata.value">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">新增选项值</label>
            <div class="input-group">
                <input required class="form-control input-sm" ng-model="metadata.key">
                <div class="input-group-btn" ng-show="metadata.context=='product.brand' || metadata.context=='product.category'">
                    <button class="btn btn-sm btn-danger" ng-click="randomKey()" >品牌品类随机值</button>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-sm btn-success" ng-disabled="form.$invalid" ng-click="ok()">确定</button>
            <button class="btn btn-sm btn-default" ng-click="cancel()">取消</button>
        </div>
    </form>
    <table class="table table-striped text-center" ng-show="metadatas.length > 0">
        <thead>
        <tr>
            <td>选项</td>
            <td>值</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="m in metadatas">
            <td>{{m.value}}</td>
            <td>{{m.key}}</td>
        </tr>
        </tbody>
    </table>
</div>