<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">网点账号管理</h1>
</div>
<div class="wrapper-md" ng-controller="UserManageCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            当前网点账号&nbsp;<span ng-controller="UserCtrl" class="label label-success">{{user.name}}</span>&nbsp;所在网点&nbsp;<span class="label label-info">{{userTerminal.name}}</span>&nbsp;
        </div>
        <div class="panel-heading">
            <i class="fa fa-crosshairs"></i>&nbsp;&nbsp;当前选中网点&nbsp;<span class="label label-info">{{parentTerminal.name}}</span>&nbsp;
        </div>
        <div class="panel-body">
            <div class="col-md-2" ng-repeat="group in terminalsGroup">
                <select class="form-control input-sm" ng-model="group.selected"
                        ng-options="terminal as terminal.name for terminal in group.terminals"
                        ng-change="terminalChange($index)">
                    <option value="">请选择</option>
                </select>
            </div>
            <button class="btn btn-primary btn-sm" ng-click="addUser()"><i class="fa fa-plus"></i>&nbsp;在此网点下新增</button>
        </div>
        <div class="panel-heading">
            <i class="fa fa-list"></i>&nbsp;&nbsp;当前选中网点&nbsp;<span class="label label-info">{{parentTerminal.name}}</span>&nbsp;包含账号
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2" ng-repeat="user in users">
                    <a href="" ng-click="editUser(user)"><i class="fa fa-user"></i>&nbsp;{{user.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>