<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            隶属 <span class="label label-success">{{parentTerminal.name}}</span>
        </div>
        <div class="panel-body">
            <form name="form" class="">
                <div class="form-group col-xs-6">
                    <label class="control-label">名称 <i class="fa fa-asterisk text-warning"></i></label>
                    <input class="form-control input-sm" ng-model="user.name" required>
                </div>
                <div class="form-group col-xs-6">
                    <label class="control-label">密码 <i class="fa fa-asterisk text-warning"></i></label>
                    <input type="password" class="form-control input-sm" ng-model="user.passwd" required>
                </div>
                <div class="form-group col-xs-6">
                    <label class="control-label">联系电话 <i class="fa fa-asterisk text-warning"></i></label>
                    <input type="tel" class="form-control input-sm" ng-model="user.tel" required>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">权限</label>

                    <div class="clearfix">
                        <label class="checkbox-inline" ng-repeat="feature in features">
                            <input type="checkbox" ng-model="feature.checked" value="{{feature.id}}"> {{feature.name}}
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-center">
            <button class="btn btn-sm btn-success" ng-click="ok()" ng-disabled="form.$invalid">确定</button>
            <button class="btn btn-sm btn-default" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>