<!-- navbar -->
<div data-ng-include=" 'views/blocks/header.html' " class="app-header navbar">
</div>
<!-- / navbar -->

<!-- menu -->
<div data-ng-include=" 'views/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
</div>
<!-- / menu -->

<!-- content -->
<div class="app-content">
    <div ui-butterbar></div>
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside"></a>

    <div class="app-content-body fade-in-up" ui-view></div>
</div>
<!-- /content -->

<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll="app" class="m-l-sm text-muted"><i
            class="fa fa-long-arrow-up"></i></a></span>
    &copy; 2015 Copyright.
</div>
<!-- / footer -->

<div data-ng-include=" 'views/blocks/settings.html' " class="settings panel panel-default">
</div>

<span ng-controller="MessageCtrl">
    <script type="text/ng-template" id="message.html">
        <div ng-include="'views/message.html'"></div>
    </script>
</span>