
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">首页</h1>
          <small class="text-muted">欢迎使用延保管理系统</small>
        </div>
      </div>
    </div>

  </div>
  <!-- / main -->
</div>