@media (min-width: 992px) {
    .axb.navbar{ margin: 0 auto;}
    .axb.navbar-brand > div {
        width: 231px;
        height: 148px;
        background-image: url(/img/axb_title.png);
        background-size: contain;
    }

    .axb.navbar-nav {
        position: absolute;
        padding-left: 280px;
        bottom: 0;
    }

    .axb.navbar-right {
        float: right !important;
        margin-right: 130px;
    }

    .axb.navbar-right ~ .navbar-right {
            margin-right: 145px;
        }

    .axb.navbar-default .navbar-nav > li > a {
        color: #0089cf;
        font-weight: bold;
        font-size: 20px;
    }

    .axb.navbar-default {
        background-color: #fff;
        border: 0;
        border-bottom: 5px solid #a1cc39;
    }

    .axb.navbar-right img {
        Width: 200px;
        height: 200px;
    }

    .axb.hotline-xs {
        display: inline-block;
    }

    .axb.col-text {
        width: 800px;
    }
}

/*Pad and PC*/
@media only screen and (min-width: 768px) {
    .axb.navbar-brand > div {
        width: 231px;
        height: 148px;
        background-image: url(/img/axb_title.png);
        background-size: contain;
    }

    .axb.navbar-nav {
        position: absolute;
        padding-left: 280px;
        bottom: 0;
    }

    .axb.navbar-right {
        float: right !important;
    }

    .axb.navbar-right ~ .navbar-right {
            margin-right: 145px;
        }

    .axb.navbar-default .navbar-nav > li > a {
        color: #0089cf;
        font-weight: bold;
        font-size: 20px;
    }

    .axb.navbar-default {
        background-color: #fff;
        border: 0;
        border-bottom: 5px solid #a1cc39;
    }

    .axb.navbar-right img {
        Width: 200px;
        height: 200px;
    }

    .axb.card-sm {
        width: 230px;
    }

    .axb.text-center-sm {
        text-align: center;
    }

    .axb.suning-logo-align {
        text-align: right;
    }

    footer img {
        width: 160px;
        margin-right: 80px;
    }

    .axb.container-fluid .container .row .logout a {
        color: white;
        text-decoration: underline;
    }

    .axb.container-fluid .container .row .login-time {
        text-align: right;
    }

    .axb.hotline-xs {
        display: inline-block;
    }

    .axb.warn-image {
        width:150px;
        height:150px;
    }

    .axb.warn-msg-font-large {
            font-size:30px;
            margin-top:50px;
            text-align:left;
        }

    .axb.warn-msg-font-small {
        font-size:18px;
        margin-top:22px;
    }

    .axb.image-div-h {
        display:none;
    }

    .axb.fixed-content {
        width:350px;
        margin-top:-30px;
        margin-left:auto;
        margin-right:auto;
        float:left;
        display:inline;
    }

    .axb.fixed-image {
        width:113px;
        float:left;
        display:inline;
    }
/**
    .fixed-image div {
        width:113px;
        height:173px;
        background-image:url(/Content/images/card1.png);
        background-size:contain;
    }
*/
    .axb.fixed-qrcode {
        width:120px;
        float:left;
        display:inline;
        margin-left: 20px;
    }
/**
    .fixed-qrcode div {
        width:120px;
        height:120px;
        background-image:url(/Content/images/qrcode.png);
        background-size:contain;
    }
*/
    .axb.fixed-width-row {
        width:610px;
        margin-left:auto;
        margin-right:auto;
    }

    .axb.col-text {
        width: 610px;
    }

    .axb.role-image {
        height:191px;
    }
    .axb.role-desc {
        font-size:18px;
        margin-top:40px;
        text-align:left;
        line-height: 30px;
    }
}

/*Mobile Phone*/
@media only screen and (max-width: 767px) {
    .axb.navbar-brand {
        height: 80px;
        padding: 15px;
    }

    .axb.navbar-brand > div {
            width: 93px;
            height: 60px;
            background-image: url(/img/axb_title_min.png);
            background-size: contain;
        }

    .axb.navbar-nav {
        position: absolute;
        padding-left: 120px;
        bottom: 0;
        margin: 0;
    }

    .axb.navbar-right {
        float: right !important;
        margin-right: 0;
    }

    .axb.navbar-right ~ .navbar-right {
            margin-right: -15px;
        }

    .axb.navbar-default .navbar-nav > li {
        float: left;
    }

    .axb.navbar-default .navbar-nav > li > a {
            color: #0089cf;
            font-weight: bold;
            font-size: 14px;
        }

    .axb.navbar-default {
        background-color: #fff;
        border: 0;
        border-bottom: 2px solid #a1cc39;
    }

    .axb.hotline-xs {
        font-size: small;
        margin-left: 20px;
        text-align: center;
    }

    .axb.suning-logo-align {
        text-align: center;
    }

    .axb.suning-logo {
        width: 100px;
    }

    .axb.validate-wrap {
        display: block;
    }

    .axb.card-xs {
        width: 230px;
    }

    .axb.text-left-xs {
        text-align: left;
    }

    .axb.hotline-xs {
        font-size:small;
        margin-left:20px;
        text-align:center;
    }

    .axb.warn-image {
        width:80px;
        height:80px;
    }

    .axb.warn-msg-font-large {
            font-size:19px;
            margin-top:25px;
        }

    .axb.warn-msg-font-small {
        font-size:14px;
        margin-top:10px;
        text-align:center;
    }

    .axb.image-div-h {
        display:block;
    }
/**
    .image-div-h div div {
        width:184px;
        height:120px;
        background-image:url(/Content/images/card.png);
        background-size:contain;
    }
*/
    .axb.col-text {
        width: 210px;
    }

    .axb.role-image {
        height:80px;
    }
    .axb.role-desc {
        font-size:14px;
        margin-top:30px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.navbar-default {
    background-color: #fff;
    border: 0;
    border-bottom: 5px solid #a1cc39;
}

.axb.navbar-default .navbar-text {
        color: #0089cf;
    }

.axb.navbar-default .navbar-nav > li > a:hover,
.axb.navbar-default .navbar-nav > li > a:focus {
        color: #0089cf;
        background-color: transparent;
    }

.axb.navbar-default .navbar-nav > .active > a,
.axb.navbar-default .navbar-nav > .active > a:hover,
.axb.navbar-default .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #a1cc39;
    }

.axb.navbar-default .navbar-nav > .disabled > a,
.axb.navbar-default .navbar-nav > .disabled > a:hover,
.axb.navbar-default .navbar-nav > .disabled > a:focus {
        color: #0089cf;
        background-color: transparent;
    }

.axb.btn-primary {
    color: #fff;
    background-color: #0089cf;
    border-color: #2e6da4;
    font-weight: bold;
    font-size: 16px;
}