@import "../bower_components/nib"

.ivr-conn
    margin-top 10px
    margin-bottom 10px
    padding-top 10px
    padding-bottom 10px
    padding-left 50px
    padding-right 50px
    box-shadow 0 0 1px #777
    &:hover
        box-shadow 0 0 5px #777
    .ivr-choice
        width 80px
    .group
        padding-top 10px
        padding-bottom 10px
        height 100%