/** 易快互联 */
.count-text{width:100px;padding-left:10px;color:#B3B3B3;}
.count-pdiv{margin:10px 10px; overflow: hidden;}
.count-div{border:1px #DBDBDB solid;float:left}
.count-div input{ border:1px;}
.hr-h{height:1px;border:none;}
.hr-c{border-top:2px ridge black}

/** 柠檬家电*/
.jdqj-main{
  background:url('/img/backgrond_qxj.jpg');
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size:100% 100%;
  background-size:100% 100%;
}
.tab_box{ padding: 0 2px; box-sizing: border-box; position: absolute;  top: 45%; left: 0; width: 100%; overflow: hidden;}
.fl-w49-tac{  float:left;width: 49%; text-align: center; }
.fl-w100{float:left;width: 125px;}
.fr-w100{float:right;width: 125px;}
.w100-margin-auto{width: 100%;margin: auto;}
.header_box{ padding: 0 2px; box-sizing: border-box; position: fixed;  top: 0%; left: 0; width: 100%; overflow: hidden;background-color: white;}
.header_box table{ width: 100%; box-sizing: border-box;}
.header_box td{ width:100%;height:35px;padding: 0 2px; box-sizing: border-box;}
.header_box td span{width:35px;text-align: center;}
.header_box td a{height:35px;width:100%;text-align: center;font-weight: bold}
.img_box{margin-top: 35px;height: 200px}
.img_box img{ width: 100%; height: 100%; text-align: center;}
.bottom_box{box-sizing: border-box; position: fixed;  bottom: 0%; left: 0; width: 100%; overflow: hidden;background-color: white;}
.bottom_box table{ width: 100%; box-sizing: border-box;}
.bottom_box td{ width:100%;height:35px;padding: 0 0px; box-sizing: border-box;}
.bottom_box td button{float:right;text-align: center;}
.imformation_box{ padding: 0 2px; box-sizing: border-box; margin-top: 35px;width: 100%; overflow: hidden;background-color: white;}
.imformation_box img{ width: 100%; height: 100%; text-align: center;}
.time { width:100%; text-align:center;height:40px;font-size: 18px;margin-top: 35px;background-color: white;padding-top: 5px}


.ivr-conn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-shadow: 0 0 1px #777;
  box-shadow: 0 0 1px #777;
}
.ivr-conn:hover {
  -webkit-box-shadow: 0 0 5px #777;
  box-shadow: 0 0 5px #777;
}
.ivr-conn .ivr-choice {
  width: 80px;
}
.ivr-conn .group {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
}

.noborder{
  border: 0px;
  border-width: 0px;
  border-color: white;
}

.divider{
  background-color: #e4e4e4;
  height:2px;
}

.individer{
  background-color:#f5f4f9;
  height:12px;
}
.panel-default-style{
  margin-top:-15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px
}
.span-style{
  border-color: white;background-color:white;color:#505050;height: 40px;font-size: 15px;
}
.input-style{
  border-width:0px;height: 40px;color:#a2a2a2;font-size: 15px;
}
.i-div-style{
  height: 18px;margin-left: 10px;
}
.i-style{
  font-size:11px;text-align:center;color: #a2a2a2
}
.result-style{
  font-size:13px;text-align:center;color: #a2a2a2
}
.p-style{
  margin-left: 10px;font-size:11px;color: #a2a2a2;
}

.span-confirm-style{
  border-color: white;background-color:white;color:#505050;height: 40px;text-align: left;
}

.icon-style{
  font-size:8px;color: #a2a2a2
}

.select-style {
  border: solid 0px #000; border-color: white;  background-color:white;  height: 40px;  color:#a2a2a2;font-size: 15px;

  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  padding-right: 14px;

  background: url("../img/下拉箭头.png") no-repeat scroll right center transparent;

}
.select-style1 {
  border: solid 0px #000; border-color: white;  background-color:white;  height: 40px;  color:#a2a2a2;

  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  background: url("../img/下拉箭头.png") no-repeat scroll right center transparent;

}

.img-style{
  height:20px;width:20px;vertical-align:top;
}
.pic-style{
  height:30px;vertical-align: baseline;margin-top: 5px;margin-left: 3px;
}
.divider{
  background-color: #e4e4e4;
  height:2px;
}
.divider1{
  background-color: #e4e4e4;
  height:1px;
}
.individer{
  background-color:#f5f4f9;
  height:12px;
}
.divider2{
  background-color: #e4e4e4;
  height:1px;
}
