<div class="container w-xxl w-auto-xs" ng-controller="SigninController">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="error">
                {{error}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" placeholder="用户名" class="form-control no-border" ng-model="uid" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="密码" class="form-control no-border" ng-model="passwd" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>登 录</button>

        </form>
    </div>
    <div class="text-center" ng-include="'views/blocks/page_footer.html'"></div>
</div>