<div ng-controller="MetadataListCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">数据源管理</h1>
    </div>
    <div class="wrapper-md">

        <div class="panel panel-default">
            <div class="panel-heading text-left">
                <div class=" form-group col-sm-3">
                    <button class="btn btn-info btn-sm " type="button"
                            ng-click="openDetailModal('sm', isNullOrUndefined,'product.brand')">
                        <i class="fa fa-plus"></i> 添加品牌
                    </button>
                    <button class="btn btn-warning btn-sm " type="button"
                            ng-click="openDetailModal('sm', isNullOrUndefined,'product.category')">
                        <i class="fa fa-plus"></i> 添加品类
                    </button>
                </div>

                <div class="form-group col-sm-2">
                    <div ui-module="select2">
                        <select ui-select2 p ng-model="metadata.key" class="form-control input-sm w-sm">
                            <option value="">请选择维护类型</option>
                            <option ng-repeat="context in contextList" value="{{context.key}}">
                                {{context.value}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-sm-1 ">
                    <button class="btn btn-primary btn-sm " type="button"
                            ng-click="openDetailModal('sm', isNullOrUndefined,metadata.key)">
                        <i class="fa fa-plus"></i> 添加源
                    </button>
                </div>
                <div class="form-group col-sm-3 ">
                    <div class="form-group">

                        <div class="col-sm-4">
                            <span class="text-xs text-muted pull-left">
                                <i class="fa fa-circle text-white m-r-xs"></i>启用
                              </span>
                        </div>
                        <div class="col-sm-4">
                            <label class="i-switch bg-danger m-t-xs m-r">
                                <input type="checkbox" ng-model="metadata.state" checked>
                                <i></i>
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <span class="text-xs text-muted pull-right">
                                <i class="fa fa-circle text-danger m-r-xs"></i>停用
                              </span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success btn-sm text-right" type="button"
                        ng-click="search('metadata.context')">
                    <i class="fa fa-search"></i> 维护可配置项
                </button>
            </div>

            <div class="panel-body"></div>
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <td>名称</td>
                    <td>备注</td>
                    <td ng-if="metadata.context=='metadata.context'">取值</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="meta in metadatas" ng-class="{'info': selectedRow('metadata',$index)}"
                    ng-click="selectRow('metadata',$index)">
                    <td>
                        <a href="" bs-popover ng-click="openDetailModal('sm', meta)">
                            <i class="fa fa-edit"></i>&nbsp;{{meta.value}}
                        </a>
                    </td>
                    <td><span>{{meta.remark}}</span></td>
                    <td ng-if="metadata.key=='SERVICE.SUB_STATE'"><span>{{meta.key}}</span></td>
                    <td>
                        <span>
                            <button ng-if="meta.state=='Y'" class="btn btn-danger btn-sm"
                                    confirm ng-confirm="startOrStop(meta,'N')" ng-cancel="testCancel()"><i
                                    class="fa fa-trash-o"></i>&nbsp;暂时停用
                            </button>
                            <button ng-if="meta.state!='Y'" class="btn btn-primary btn-sm"
                                    confirm ng-confirm="startOrStop(meta,'Y')" ng-cancel="testCancel()"><i
                                    class="fa fa-save"></i>&nbsp;重新启用
                            </button>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="metadata_detail.html">
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading" ng-if="meta._id ==undefined">
                <i class="fa fa-tint"></i>&nbsp;添加
                <span class="close" ng-click="cancel();">&times;</span>
            </div>
            <div class="panel-heading" ng-if="meta._id !=undefined">
                <i class="fa fa-tint"></i>&nbsp;{{meta.value}}修改
                <span class="close" ng-click="cancel();">&times;</span>
            </div>
            <div class="panel-body">
                <div class="form-group " ng-if="meta.id ==undefined">
                    <label class="small" class="small">数据类型</label>

                    <div ui-module="select2">
                        <select ui-select2 ng-model="meta.context" class="form-control input-sm w-sm">
                            <option ng-repeat="category in contextNewList" value="{{category.key}}">
                                {{category.value}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="small">名称</label>
                    <input type="text" class="form-control input-sm" ng-model="meta.value">
                </div>
                <div class="form-group ">
                    <label class="small"
                           ng-if="meta.context =='metadata.context'||meta.context =='policy.life'">取值</label>
                    <input type="text" ng-if="meta.context =='metadata.context'||meta.context =='policy.life'"
                           class="form-control input-sm" ng-model="meta.key">
                </div>
                <div class="form-group " ng-if="meta.context =='metadata.sms'">
                    <label class="small">模板内容</label>
                    <textarea rows="2" class="form-control input-sm ng-pristine ng-valid ng-touched"
                              ng-model="policy.remark"></textarea>
                </div>
                <div class="form-group " ng-if="meta.context !='metadata.sms'">
                    <label class="small">备注</label>
                    <input type="text" class="form-control input-sm" ng-model="meta.remark">
                </div>

                <div class="form-group " >
                    <label class="small" class="small">关联配置项</label>

                    <div ui-module="select2">
                        <select ui-select2 ng-model="meta.ref_context" class="form-control input-sm w-sm">
                            <option ng-repeat="category in refContextList" value="{{category.key}}">
                                {{category.value}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group " >
                    <label class="small" class="small">关联取值</label>

                    <div ui-module="select2">
                        <select ui-select2 ng-model="meta.ref_key" class="form-control input-sm w-sm">
                            <option ng-repeat="category in keyList" value="{{category.key}}">
                                {{category.value}}
                            </option>
                        </select>
                    </div>
                </div>


                <div align="right" class="form-group ">
                    <button class="btn btn-primary btn-sm" ng-if="meta._id!=undefined"
                            ng-click="save(meta)"><i class="fa fa-save"></i>&nbsp;保存
                    </button>
                    <button class="btn btn-success btn-sm" ng-if="meta._id==undefined"
                            ng-click="add(meta)">
                        <i class="fa fa-save"></i>&nbsp;添加
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
</div>