<div class="aside-wrap">
    <div class="navi-wrap">
        <!-- user -->
        <div class="clearfix hidden-xs text-center hide" id="aside-user">
            <div class="dropdown wrapper" ng-controller="UserCtrl">
                <a ui-sref="app.user.profile">
                    <span class="thumb-lg w-auto-folded avatar m-t-sm">
                        <img src="img/a0.jpg" class="img-full" alt="...">
                    </span>
                </a>
                <a href class="dropdown-toggle hidden-folded">
                    <span class="clear">
                        <span class="block m-t-sm">
                            <strong class="font-bold text-lt">{{user.name}}</strong>
                            <b class="caret"></b>
                        </span>
                        <!--<span class="text-muted text-xs block">系统管理员</span>-->
                    </span>
                </a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeInRight w hidden-folded">
                    <!--<li class="wrapper b-b m-b-sm bg-info m-t-n-xs">
                        <span class="arrow top hidden-folded arrow-info"></span>

                        <div>
                            <p>管理员权限</p>
                        </div>
                    </li>-->
                    <li>
                        <a ui-sref="app.user.profile">个人信息</a>
                    </li>
                    <li>
                        <a ui-sref="app.user.settings">设置</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="access.signin">登出</a>
                    </li>
                </ul>
                <!-- / dropdown -->
            </div>
            <div class="line dk hidden-folded"></div>
        </div>
        <!-- / user -->

        <!-- nav -->
        <nav ui-nav class="navi" ng-include="'views/blocks/nav.html'"></nav>
        <!-- nav -->

    </div>
</div>