<div class="">
    <div class="panel panel-default">
        <div class="panel-heading">是否确认?</div>
        <div class="panel-footer text-center">
            <button class="btn btn-success btn-sm" ng-click="ok()">确定</button>
            <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>