<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
        <i class="fa fa-btc"></i>
        <img src="img/logo.png" alt="." class="hide">
        <span class="hidden-folded m-l-xs">{{app.simple_name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- buttons -->
    <div class="nav navbar-nav m-l-sm hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
        <a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
        </a>
    </div>
    <!-- / buttons -->

    <!-- link and dropdown -->
    <ul class="nav navbar-nav hidden-sm">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                <span>新建</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li ng-if="has(3)">
                    <a ui-sref="app.policy.add">
                        <span>延保单</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- / link and dropdown -->

    <!-- search form -->
    <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse"
          role="查询" >
        <div class="form-group">
            <div class="input-group">
                <input type="text" ng-model="search"
                       typeahead="state for state in states | filter:$viewValue | limitTo:8"
                       class="form-control input-sm bg-light no-border rounded padder" placeholder="查询记录">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm bg-light rounded" ui-sref="app.policy.list({state:search})"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </div>
    </form>
    <!-- / search form -->

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-sm" is-open="lang.isopen">
            <a href class="dropdown-toggle" data-toggle="dropdown">
                {{selectLang}} <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li ng-repeat="(langKey, label) in langs">
                    <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>
        <li class="dropdown">
            <a href class="dropdown-toggle">
                <i class="icon-bell fa-fw"></i>
                <span class="visible-xs-inline">公告消息</span>
                <span class="badge badge-sm up bg-danger pull-right-xs">0</span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp">
                <div class="panel bg-white">
                    <div class="panel-heading b-light bg-light">
                        <strong>您有 <span>0</span> 条消息</strong>
                    </div>
                    <div class="list-group">
                        <!--<a href class="media list-group-item">
                            <span class="media-body block m-b-none">
                                Use awesome animate.css<br>
                                <small class="text-muted">10 分钟前</small>
                            </span>
                        </a>-->
                    </div>
                    <div class="panel-footer text-sm">
                        <a href class="pull-right"><i class="fa fa-cog"></i></a>
                        <a ui-sref="app.notices" data-toggle="class:show animated fadeInRight">查看所有消息</a>
                    </div>
                </div>
            </div>
            <!-- / dropdown -->
        </li>
        <li class="dropdown" ng-controller="UserCtrl">
            <a href class="dropdown-toggle clear" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/a0.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
                <span class="hidden-sm hidden-md">{{user.name}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <!--<li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                    <div>
                        <p>管理员权限</p>
                    </div>
                </li>-->
                <li>
                    <a ui-sref="app.user.settings">设置</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ui-sref="access.signin">退出</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->