<div class="modal-body wrapper-lg" ng-class="{'bg-info': message.info, 'bg-warning': message.error, 'bg-success': message.success}">
    <div class="row">
        <div class="col-sm-12 text-center" >
            <h3 class="m-t-none m-b font-thin">{{message.info || message.success || message.error}}</h3>
        </div>
    </div>
</div>