<!-- first -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>保单信息管理</span>
    </li>
    <li ng-if="has(3)">
        <a ui-sref="app.policy.add" >
            <i class="fa fa-plus-square icon text-primary-dker"></i>
            <span class="font-bold">延保单录入</span>
        </a>
    </li>
    <li ng-if="has(4)">
        <a ui-sref="app.policy.list">
            <i class="fa fa-search icon text-info-dker"></i>
            <span class="font-bold">延保单管理</span>
        </a>
    </li>
    <li ng-if="has(4)">
        <a ui-sref="app.policy.cardList">
            <i class="fa fa-credit-card icon text-warning-dker"></i>
            <span class="font-bold">延保卡管理</span>
        </a>
    </li>
    <li class="line dk"></li>

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-if="has(2)">
        <span>系统功能</span>
    </li>
    <li ng-class="{active:$state.includes('app.manage')}" ng-if="has(2)">
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-user text-danger-dker"></i>
            <span>员工信息管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header ">
                <a href>
                    <span>员工信息管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.manage.terminal">
                    <span>系统网点</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.manage.user">
                    <span>系统账号</span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-class="{active:$state.includes('app.info')}" ng-if="has(2)">
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-th text-info-dker"></i>
            <span>业务信息管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header ">
                <a href>
                    <span>业务信息管理</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.info.customer">
                    <span>客户管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.info.product">
                    <span>产品管理</span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-class="{active:$state.includes('app.system')}">
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-book text-warning-dk"></i>
            <span>系统参数管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header ">
                <a href>
                    <span>系统参数管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.metadata">
                    <span>数据源维护</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.brand_category">
                    <span>配置品牌品类</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.policy_config">
                    <span>延保政策管理</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.sms">
                    <span>短信发送管理</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="line dk hidden-folded"></li>

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>个人信息</span>
    </li>
    <li>
        <a ui-sref="app.user.settings">
            <i class="fa fa-gear"></i>
            <span>设置</span>
        </a>
    </li>
</ul>
<!-- / third -->