<div class="row">
    <div class="col-xs-12">
        <select class="form-control text-box single-line"  ng-model="ngProvince"
                ng-options="province.code as province.name for province in provinces" required>
            <option value="">请选择省份</option>
        </select>
    </div>
    <br>
    <br>
    <div class="col-xs-12">
        <select class="form-control text-box single-line"  ng-model="ngCity"
                ng-options="city.code as city.name for city in cities" required>
            <option value="">请选择城市</option>
        </select>
    </div>
    <br>
    <br>
    <div class="col-xs-12">
        <select class="form-control text-box single-line"  ng-model="ngArea"
                ng-options="area.code as area.name for area in areas" required>
            <option value="">请选择区县</option>
        </select>
    </div>
</div>
