    <div class="form-group col-xs-3">
        <label class="control-label">省份</label>
        <select class="form-control input-sm" ng-model="ngProvince"
                ng-options="province.code as province.name for province in provinces"></select>
    </div>
    <div class="form-group col-xs-3">
        <label class=" control-label">地市</label>

        <select class="form-control input-sm" ng-model="ngCity"
                ng-options="city.code as city.name for city in cities"></select>
    </div>
    <div class="form-group col-xs-3">
        <label class=" control-label">区县</label>
        <select class="form-control input-sm" ng-model="ngArea"
                ng-options="area.code as area.name for area in areas"></select>
    </div>