<div class="row">
    <div class="col-xs-4">
        <label class="control-label">省份</label>
        <mark class="form-control-static">{{provinceName}}</mark>
    </div>
    <div class="col-xs-4">
        <label class=" control-label">地市</label>
        <mark class="form-control-static">{{cityName}}</mark>
    </div>
    <div class="col-xs-4">
        <label class=" control-label">区县</label>
        <mark class="form-control-static">{{areaName}}</mark>
    </div>
</div>