<div class="input-group">
    <input class="form-control input-sm" type="file" nv-file-select uploader="uploader">

    <div class="input-group-btn">
        <button class="btn btn-success btn-sm" ng-click="upload()">上传({{uploader.progress ||
            0}}%)
        </button>
        <button class="btn btn-sm" ng-click="cancel()"><i class="fa fa-times"></i></button>
    </div>
</div>