<div style="margin-top: -50px" ng-controller="JdqjMainCtrl">
    <div class="header_box" >
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="text-align: center"><a>汽车空调清洗</a></td>
            </tr>
        </table>
        <div class="divider1"></div>
    </div>
    <div class="img_box">
        <img src="/img/clean.jpg"/>
    </div>
    <div class="panel panel-default" style="overflow:auto;overflow-x: hidden">
        <div class="panel-heading" style="color:#a2a2a2;background-color: transparent">
            <i class="fa fa-dot-circle-o" ></i>&nbsp;&nbsp;<font color="red">为什么要清洁汽车空调？</font>
        </div>
        <div class="panel-body">
            <div style="color:#191919;font-size: 15px;">
                <span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    人们在车内停留的时间越来越长，车内空气质量关乎大家的健康。提高车内空气质量的关键是保持汽车空调系统的清洁。长期未清洗的空调机内含有大量的灰尘及细菌，随空调气流的循环，被送到车内每个角落，使人感到头晕、乏力、免疫力下降，甚至罹患呼吸道疾病。柠檬家电汽车空调清洗能有效去除空调内的积尘和细菌，提高空调制冷效果，呵护您和家人的健康。
                </span>
                <div style="height: 20px"></div>
            </div>
        </div>
        <div class="divider1"></div>
        <div class="panel-heading" style="color:#a2a2a2;background-color: transparent">
            <i class="fa fa-dot-circle-o" ></i>&nbsp;&nbsp;<font color="red">服务标准</font>
        </div>
        <div class="panel-body">
            <div style="color:#191919;font-size: 15px;">
                <span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    1.使用专用药剂和水对汽车空调蒸发器及箱体进行清洗、杀菌、消毒。<p></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    2.去除空调过滤器表面灰尘（长期使用建议客户自费更换）以及出风口灰尘。<p></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    3.臭氧全车消毒杀菌
                </span>
                <div style="height: 20px"></div>
            </div>
        </div>
        <div class="divider1"></div>
        <div class="panel-heading" style="color:#a2a2a2;background-color: transparent">
            <i class="fa fa-dot-circle-o" ></i>&nbsp;&nbsp;<font color="red">服务流程</font>
        </div>
        <div class="panel-body">
            <div>
                <span >
                    <img style="width:100%;" src="/img/service_process.jpg"/>
                </span>
                <div style="height: 20px"></div>
            </div>
        </div>
    </div>
    <div class="bottom_box" >
        <div class="divider1"></div>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 50px;padding-left: 10px"><font color="red">¥268</font></td>
                <td><button type="button" class="btn btn-info" ui-sref="nmjd.jdqj.carclean_order({code:code})">立刻预约</button></td>
            </tr>

        </table>
    </div>
</div>