<div  ng-controller="JdqjOrderCtrl" style="margin-top: -50px">

    <div ng-show="FlagMainPage">
        <div class="header_box" >
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="text-align: center"><a>汽车空调清洗</a></td>
                </tr>
            </table>
        </div>
        <div class="imformation_box">
            <div class="divider"></div>
            <div class="col-lg-12 input-group" style="">
                <span class="input-group-addon span-style"  style="text-align: left"><font style="">汽车空调清洗</font></span>
                    <span class="input-group-addon span-style"  style="text-align: right">
                        <button type="button" style="background-color: white;text-align: center" class="btn btn-defualt btn-xs" ng-click="changeNumber('M')"><i class="glyphicon glyphicon-minus" style="color: #00b3ee"></i></button>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;{{qxj.number}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button type="button" style="background-color: white;text-align: center" class="btn btn-defualt btn-xs" ng-click="changeNumber('A')"><i class="glyphicon glyphicon-plus" style="color: #00b3ee"></i></button>
                    </span>
            </div>
            <div class="divider2"></div>
            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-style" style="text-align: right"><font style="font-size: 12px;color: #00b3ee">使用清洁卡抵扣</font></span>
                <input class="form-control text-box input-style" type="text" style="font-size: 12px;" ng-model="qxj.claeanCard" placeholder="请输入清洁卡密码" ng-blur="findCard()">
                <i class="glyphicon glyphicon-remove i-style" style="color: red" ng-if="card_mes">{{card_mes}}</i>
            </div>
            <div class="divider2"></div>
            <div class="col-lg-12 input-group" style="">
                <span class="input-group-addon span-style"><font style="color: transparent">汽车空调清洗</font></span>
                <span class="input-group-addon span-style" style="text-align: right"><font style="">合计： <font color="red">¥{{price}}</font>（抵扣金额：¥{{qxj.deductible_amount}}）</font></span>
            </div>
            <div class="divider"></div>
            <div class="col-lg-12 input-group" style="">
                <span class="input-group-addon span-style" style="text-align: left"><font style="">您的车型</font></span>
                <input class="form-control text-box single-line input-style" type="text" ng-model="qxj.car_model" placeholder="手工填写">
            </div>
            <p style="padding-left: 3px;color: red" class="glyphicon glyphicon-remove p-style" ng-if="car_model_mes && !qxj.car_model">{{car_model_mes}}</p>

            <div class="individer"></div>
            <div class="">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr style="width: 100%">
                        <td style="padding-left: 13px;width: 35px"><i style="color: #a2a2a2" class="glyphicon glyphicon-user"></i></td>
                        <td><input class="form-control text-box single-line input-style" style="background-color: white;padding-left: 0px;" ng-click="FlagContactInput=true;FlagMainPage=false;FlagPayPage=false" type="text" ng-model="contactway" placeholder="联系方式" readonly></td>
                    </tr>
                </table>
            </div>
            <p style="padding-left: 3px;color: red" class="glyphicon glyphicon-remove p-style" ng-if="user_info_mes">{{user_info_mes}}</p>
            <div class="individer"></div>
            <div class="">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr style="width: 100%">
                        <td style="padding-left: 13px;width: 35px"><i style="color: #a2a2a2" class="glyphicon glyphicon-time"></i></td>
                        <td><input datetimepicker class="form-control text-box single-line input-style" style="background-color: white;padding-left: 0px;" type="text" ng-model="qxj.service_at" placeholder="选择服务时间" readonly></td>
                    </tr>
                </table>
            </div>
            <p style="padding-left: 3px;color: red" class="glyphicon glyphicon-remove p-style" ng-if="service_at_mes && !qxj.service_at">{{service_at_mes}}</p>
        </div>
        <div class="bottom_box" >
            <table border="0" cellpadding="0" cellspacing="0">
                <td ng-if="qxj.price >= 0" style="padding-left: 10px">待支付&nbsp;&nbsp;<font style="color: red">¥{{qxj.price}}</font></td>
                <td ng-if="qxj.price < 0" style="padding-left: 10px">待支付&nbsp;&nbsp;<font style="color: red">¥{{0}}</font></td>
                <td><button type="button" class="btn btn-info" ng-click="sheetCommit()">提交订单</button></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 联系方式输入-->
    <div ng-show="FlagContactInput" style="margin-top: -50px">
        <div class="header_box" >
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="text-align: center"><a>联系方式录入</a></td>
                </tr>
            </table>
        </div>
        <div class="imformation_box">
            <div class="individer"></div>
            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-style" style="text-align: left"><i style="color: #a2a2a2" class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;姓名</span>
                <input class="form-control text-box single-line input-style" type="text" ng-model="qxj.name" placeholder="请输入联系人姓名">
            </div>
            <div class="individer"></div>
            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-style" style="text-align: left"><i style="color: #a2a2a2" class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;电话</span>
                <input class="form-control text-box single-line input-style" type="text" ng-model="qxj.tel" placeholder="请输入联系人电话" >
            </div>
            <div class="individer"></div>
            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-style" style="text-align: left"><i style="color: #a2a2a2" class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;地址</span>
                <input class="form-control text-box single-line input-style" type="text" ng-model="qxj.address" placeholder="请输入联系人地址">
            </div>
        </div>
        <div class="bottom_box" >
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td><button type="button" class="btn btn-info" ng-click="contactWayComfirm()">确定</button></td>
                </tr>

            </table>
        </div>
    </div>

    <!-- 支付页面-->
    <div ng-show="FlagPayPage" style="margin-top: -50px">
        <div class="header_box" >
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="text-align: center"><a>汽车空调清洗</a></td>
                </tr>
            </table>
        </div>
        <div class="divider2"></div>
        <div class="time" style="color: red;font-size: 16px">支付剩余时间：<span></span></div>
        <div class="">
            <div class="divider2"></div>
            <ul class="list-group" style="margin-bottom: 0px">
                <span class="list-group-item"><img style="width: 30px;height:30px" src="/img/微信好友.png"/>&nbsp;&nbsp;<hi style="color: #a2a2a2;">微信支付</hi><i style="color: #a2a2a2;margin-top:10px;margin-bottom:10px;float: right" class="glyphicon glyphicon-ok"></i></span>
            </ul>
            <div class="divider2"></div>
            <div class="col-lg-12 input-group" style="">
                <span class="input-group-addon span-style" style="text-align: left">需付款</span>
                <span class="input-group-addon span-style" style="text-align: right">合计：<font color="red"> ¥{{qxj.price}}</font></span>
            </div>

            <div style="height: 80px;background-color: white"></div>

            <div class="panel panel-body">
                <div style="text-align:center" >
                    <button ng-show="!PayButton" style="border-radius: 8px;" class="btn btn-info btn-block" ng-click="pay()">确认支付</button>
                    <button ng-show="PayButton" style="border-radius: 8px;" class="btn btn-danger btn-block">请稍后，请勿重复点击</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="http://www.codefans.net/ajaxjs/jquery-1.6.2.min.js"></script>
<script>
    i = 0;
    j = 0;
    count = 0;
    MM = 59;
    SS = 59;
    MS = 9;
    totle = (MM+1)*600;
    d = 180*(MM+1);
    MM = MM;
    function showTime(){
        totle = totle - 1;
        if(totle==0){
            clearInterval(s);
            clearInterval(t1);
            clearInterval(t2);
            $(".pie2").css("-o-transform","rotate(" + d + "deg)");
            $(".pie2").css("-moz-transform","rotate(" + d + "deg)");
            $(".pie2").css("-webkit-transform","rotate(" + d + "deg)");
        }else{
            if(totle>0 && MS>0){
                MS = MS - 1;
                if(MS < 10){MS = "0" + MS};
            };
            if(MS==0 && SS>0){
                MS = 10;
                SS = SS - 1;
                if(SS < 10){SS = "0" + SS};
            };
            if(SS==0 && MM>0){
                SS = 60;
                MM = MM - 1;
                if(MM < 10){MM = "0" + MM};
            };
        };
        $(".time span").html(MM + ":" + SS + ":" + MS);
    };
    s = setInterval("showTime()",100);
    function start1(){
        i = i + 0.6;
        count = count + 1;
        if(count==300){
            count = 0;
            clearInterval(t1);
            t2 = setInterval("start2()",100);
        };
        $(".pie1").css("-o-transform","rotate(" + i + "deg)");
        $(".pie1").css("-moz-transform","rotate(" + i + "deg)");
        $(".pie1").css("-webkit-transform","rotate(" + i + "deg)");
    };
    function start2(){
        j = j + 0.6;
        count = count + 1;
        if(count==300){
            count = 0;
            clearInterval(t2);
            t1 = setInterval("start1()",100);
        };
        $(".pie2").css("-o-transform","rotate(" + j + "deg)");
        $(".pie2").css("-moz-transform","rotate(" + j + "deg)");
        $(".pie2").css("-webkit-transform","rotate(" + j + "deg)");
    };
    t1 = setInterval("start1()",100);
</script>