<div class="wrapper-md">
    <div class="panel panel-default panel-default-style">
        <div class="panel-body">
        <form class="bs-example form-horizontal form-validation" name="policyForm">
            <div class="panel-heading" style="background-color:white;font-size: 15px">
                <img  src="/img/1.png" style="height:20px;"/><font color="#191919">&nbsp;&nbsp;延保信息</font>
            </div>
            <div class="divider"></div>

            <!--<div class="col-lg-12 input-group">
                <span class="input-group-addon span-confirm-style">延保注册码：{{policy.sn}}</span>
            </div>
            <div class="divider"></div>-->


            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-confirm-style">延保政策：{{metadatas|transMetadata:'policy.type':policy.type}}</span>
            </div>
            <div class="divider"></div>

            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-confirm-style">延保年限：{{metadatas|transMetadata:'policy.life':policy.life}}</span>
            </div>
            <div class="divider"></div>

            <div class="individer"></div>

            <div class="divider"></div>
            <div class="panel-heading" style="background-color:white;font-size: 15px">
                <img  src="/img/2.png" style="height:20px;"/><font color="#191919">&nbsp;&nbsp;商品信息</font>
            </div>
            <div class="divider"></div>

            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-confirm-style">品牌：{{metadatas|transMetadata:'product.brand':product.brand}}</span>
            </div>
            <div class="divider"></div>

            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-confirm-style">品类：{{metadatas|transMetadata:'product.category':product.category}}</span>
            </div>
            <div class="divider"></div>

            <!--<div class="col-lg-12 input-group">
                <span class="input-group-addon span-confirm-style">商品型号：{{product.model}}</span>
            </div>
            <div class="divider"></div>

            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-confirm-style">商品序号：{{policy.product_sn}}</span>
            </div>
            <div class="divider"></div>-->

            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-confirm-style">商品价格：{{policy.product_price}}元</span>
            </div>
            <div class="divider"></div>

            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-confirm-style">发票日期：{{policy.ori_begin_at}}</span>
            </div>
            <div class="divider"></div>

            <div class="col-lg-12 input-group" ng-if="policy.type == 'A'">
                <span class="input-group-addon span-confirm-style">手机屏幕延保时间：{{machine_time_start}}&nbsp;至&nbsp;{{machine_time_end}}</span>
            </div>
            <div ng-if="policy.type == 'A'" class="divider"></div>

            <div class="col-lg-12 input-group" ng-if="policy.type != 'A'" >
                <span class="input-group-addon span-confirm-style">整机延保时间：{{machine_time_start}}&nbsp;至&nbsp;{{machine_time_end}}</span>
            </div>
            <div ng-if="policy.type != 'A'"  class="divider"></div>

            <div class="col-lg-12 input-group" ng-if="policy.type != 'A'" >
                <span ng-if="policy.type != 'A'" class="input-group-addon span-confirm-style">部件延保时间：{{keypart_time_start}}&nbsp;至&nbsp;{{keypart_time_end}}</span>
            </div>
            <div ng-if="policy.type != 'A'"  class="divider"></div>
        </form>

        <form class="bs-example form-horizontal form-validation" name="customerForm">
            <div class="individer"></div>
            <div class="divider"></div>
            <div class="panel-heading" style="background-color:white;font-size: 15px">
                <img  src="/img/3.png" style="height:20px;"/><font color="#191919">&nbsp;&nbsp;用户信息</font>
            </div>
            <div class="divider"></div>

            <div class="col-lg-12 input-group">
                <span class="input-group-addon span-confirm-style">联系方式：{{customer.mobile}}</span>
            </div>
            <div class="divider"></div>
        </form>

        <div class="individer"></div>
        <div class="divider"></div>
        <div class="panel-heading" style="background-color:white;font-size: 15px" >
            <img  src="/img/5.png" style="height:20px;"/><font color="#191919">&nbsp;&nbsp;延保价格</font><font style="font-size: 17px" color="#191919">&nbsp;&nbsp;￥{{policy.price}}</font>
        </div>
        <!--<div ng-show="!FeeShow" class="col-lg-12 input-group" style="height: 12px;margin-left: 10px">
            <i class="glyphicon glyphicon-remove" style="font-size:11px;text-align:center;color: #a2a2a2" ng-show="!FeeShow">无此延保选项(请核实延保政策、年限、商品品类和价格)</i>
        </div>-->
        <div class="divider"></div>

        <i class="i-style" style="color: red;margin-left: 10px;" >请确保录入的信息正确，否则将影响未来获取延保服务</i>

        <div class="panel-body" style="text-align:center;vertical-align:middle">
            <!--<div class="btn-group" >
                <button type="button" class="btn btn-info" ng-click="ok()">&nbsp;&nbsp;&nbsp;&nbsp;确定&nbsp;&nbsp;&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-primary " ng-click="cancel()">&nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>-->
            <div class="btn-group" >
                <button type="button" class="btn btn-info " ng-click="ok('Y');">确定注册</button>
                <button type="button" class="btn btn-primary " ng-click="ok('P');">支付注册</button>
                <button type="button" class="btn btn-warning" ng-click="cancel();">返回修改</button>
            </div>
        </div>
    </div>
    </div>


    <!--<div class="panel panel-default">
        <div class="panel-heading" style="font-size: 15px">
            <img  src="/img/3.png" style="height:20px;"/><font color="#11CCFF">&nbsp;&nbsp;用户信息</font>
        </div>
        <div style="background-color:#f5f4f9;height:1px;">
        </div>
        <div class="panel-body" style="margin-left: -20px;margin-right: -20px">

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">用户姓名：</label>
                <span>{{customer.name}}</span>
            </div>

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">联系方式：</label>
                <span>{{customer.mobile}}</span>
            </div>
        </div>

        &lt;!&ndash;<div class="panel-heading">
            销售网点信息&nbsp;
        </div>
        <div class="panel-body">
            <div class="form-group col-xs-3">
                <label class="control-label">地址</label>
                <mark class="form-control-static">{{customer.address}}</mark>
            </div>
            <div class="form-group col-xs-3">
                <label class="control-label">网点信息</label>
                <span terminal1="{{policy.terminal}}"></span>
                &lt;!&ndash;<mark class="form-control-static">{{policy.terminal|stationTrans:terminals}}</mark>&ndash;&gt;
            </div>
        </div>&ndash;&gt;

        <div class="panel-heading" style="font-size: 15px">
            <img  src="/img/2.png" style="height:20px;"/><font color="#11CCFF">&nbsp;&nbsp;商品信息</font>
        </div>
        <div style="background-color:#f5f4f9;height:1px;"></div>
        <div class="panel-body" style="margin-left: -20px;margin-right: -20px">

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">商品型号：</label>
                <span>{{product.model}}</span>
            </div>

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">商品序号：</label>
                <span>{{policy.product_sn}}</span>
            </div>

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">商品品牌：</label>
                <span>{{metadatas|transMetadata:'product.brand':product.brand}}</span>
            </div>

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">商品品类：</label>
                <span>{{metadatas|transMetadata:'product.category':product.category}}</span>
            </div>
        </div>

        <div class="panel-heading" style="font-size: 15px">
            <img  src="/img/1.png" style="height:20px;"/><font color="#11CCFF">&nbsp;&nbsp;延保信息</font>
        </div>
        <div style="background-color:#f5f4f9;height:1px;"></div>
        <div class="panel-body" style="margin-left: -20px;margin-right: -20px">

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">延保注册码：</label>
                <span>{{policy.sn}}</span>
            </div>

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">延保类型：</label>
                <span>{{metadatas|transMetadata:'policy.type':policy.type}}</span>
            </div>

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">延保年限：</label>
                <span>{{metadatas|transMetadata:'policy.life':policy.life}}</span>
            </div>

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">商品价格：</label>
                <span>{{policy.product_price}}元</span>
            </div>

            <div class="col-lg-6">
                <label style="color:#a2a2a2 ">延保价格：</label>
                <span>{{policy.price}}元</span>
            </div>
        </div>

        <div class="panel-body" style="text-align:center;vertical-align:middle">
            <div class="btn-group" >
                <button class="btn btn-success btn-sm" ng-click="ok()">&nbsp;&nbsp;&nbsp;&nbsp;确定&nbsp;&nbsp;&nbsp;&nbsp;</button>
                <button class="btn btn-default btn-sm" ng-click="cancel()">&nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>

        &lt;!&ndash;<div class="panel-footer text-center">
            <button class="btn btn-success btn-sm" ng-click="ok()">确定</button>
            <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
        </div>&ndash;&gt;
    </div>-->
</div>