<div class="wrapper-md">
    <div class="panel panel-default panel-default-style">
        <div class="panel-body" style="color: #191919;font-size: 15px">

            <span style="color: #a2a2a2;font-size: 20px">您的延保服务已经注册成功！</span>

            <div style="height:15px;"></div>

            <span >注册信息如下：</span>
            <div style="height:8px;"></div>
            <span><font color="#a2a2a2">延保注册码：</font>{{policy.sn}}</span>
            <div style="height:8px;"></div>
            <span><font color="#a2a2a2">品牌：</font>{{metadatas|transMetadata:'product.brand':product.brand}}</span>
            <div style="height:8px;"></div>
            <span><font color="#a2a2a2">品类：</font>{{metadatas|transMetadata:'product.category':product.category}}</span>
            <div style="height:8px;"></div>

            <div style="height:12px;"></div>

            <span style="font-size: 20px;color: #a2a2a2">我们将向您发送一条短信或将信息存入您的微信卡包！</span>
            <div style="height:12px;"></div>

            <div class="panel-body" style="text-align:center;vertical-align:middle">
                <!--<div class="btn-group" >
                    <button type="button" class="btn btn-info" ng-click="ok()">&nbsp;&nbsp;&nbsp;&nbsp;确定&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-primary " ng-click="cancel()">&nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>-->
                <div class="btn-group" >
                    <button type="button" class="btn btn-info " ng-click="ok();">确定</button>
                    <!--<button type="button" class="btn btn-warning" ng-click="cancel();">取消</button>-->
                </div>
            </div>

        </div>
    </div>
</div>