<div class="panel panel-default" ng-controller="AxbTestCtrl" style="margin-top: -50px">
    <nav class="axb container navbar navbar-default" role="navigation">
        <div class="axb navbar-header">
            <a class="axb navbar-brand" href="/">
                <div></div>
            </a>
        </div>
    </nav>
    <div align="center" style="margin-top: 20px;">
        <a class="btn btn-success" ng-click="getLoc()">&nbsp;&nbsp;&nbsp;获取位置&nbsp;&nbsp;&nbsp;</a>
    </div>
    <div align="center" style="margin-top: 20px;">
        <a class="btn btn-success" ng-click="getPic()">&nbsp;&nbsp;&nbsp;选择图片&nbsp;&nbsp;&nbsp;</a>
    </div><br>
    <div ng-repeat="im in images"><img style="width:100px;height: 100px;" ng-click="viewImages(im.fileName)" ng-src="{{im.ngUrl}}"></div>
    <br><br><br>
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style">
        <span class="jiathis_txt">分享到：</span>
        <a class="jiathis_button_tools_1"></a>
        <a class="jiathis_button_tools_2"></a>
        <a class="jiathis_button_tools_3"></a>
        <a class="jiathis_button_tools_4"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
        <!--<a class="jiathis_counter_style"></a>-->
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
    <!-- JiaThis Button END -->
    <br><br><br>

    <div class="panel-body text-center">
        <div class="form-group" >
            <div class="col-sm-4" style="color: #00b3ee"><h5><span style="font-weight:bold;">安心保注册热线：4006-942-123</span></h5></div>
            <div class="col-sm-4" style="color: #00b3ee"><h5><span style="font-weight:bold;">安心保报修热线：4008-365-365</span></h5></div>
            <div class="col-sm-4"><img  style="height:40px" src="/img/suning_white.jpg"></div>
        </div>
    </div>

</div>