<div class="panel panel-default" ng-controller="AxbTestCtrl" style="margin-top: -50px">
    <nav class="axb container navbar navbar-default" role="navigation">
        <div class="axb navbar-header">
            <a class="axb navbar-brand" href="/">
                <div></div>
            </a>
        </div>
    </nav>
    <div align="center" style="margin-top: 20px;">
        <a class="btn btn-success" ng-click="pay_test()">&nbsp;&nbsp;&nbsp;支付测试&nbsp;&nbsp;&nbsp;</a>
    </div>

    <div class="panel-body text-center">
        <div class="form-group" >
            <div class="col-sm-4" style="color: #00b3ee"><h5><span style="font-weight:bold;">安心保注册热线：4006-942-123</span></h5></div>
            <div class="col-sm-4" style="color: #00b3ee"><h5><span style="font-weight:bold;">安心保报修热线：4008-365-365</span></h5></div>
            <div class="col-sm-4"><img  style="height:40px" src="/img/suning_white.jpg"></div>
        </div>
    </div>

</div>