<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">设置</h1>
</div>

<div class="wrapper-md" ng-controller="SettingsCtrl">
    <form name="form">
        <div class="form-group col-md-4">
            <label class="form-control-static">旧密码</label>
            <input type="password" class="form-control" ng-model="oldPasswd" required>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control-static">新密码</label>
            <input type="password" class="form-control" ng-model="newPasswd" required>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control-static">确认新密码</label>
            <input type="password" class="form-control" ng-model="confirmNewPasswd" required>
        </div>
        <div class="form-group col-md-12 text-center">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">保存</button>
        </div>
    </form>
</div>